.membershipForm {
  display: flex;
  margin-left: 25%;
  flex-direction: column;
  width: 50%;
  align-self: center;
}

.membershipForm .option {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: stretch;
}

.row2 {
  display: flex;
}
.row1{
  display: flex;
  
  justify-content: stretch;
}
/* .row1 .option{
  justify-content: ;
} */