.mainDiv{
    overflow: hidden;
    font-size: 30px;
    font-style: italic;
}
.navDiv{
    float:left;
    display: flex;
    padding-bottom: 50%;
    position: fixed;
    z-index:2;
    top:0;
}
.mainDiv .listDiv{
    width:100%;
    font-size: 25px;
    float:right;
    margin:28px;
    

}
.pages{
    justify-content: center;
}

