.sidebar{
    /* position: flex;
    width: 12%;
    height:120%; */
    background-color: #2a2f32;
    font-size: 15px;
    font-weight: lighter;

    }
    Button{
        font-family: "Montserrat", sans-serif;
    }
.sidebar ul li{
        color: white;
        color:rgba(230, 230, 230, 0.9);
        border-bottom: 1px solid rgba(100,100,100,0.3);
}

.togglebtn{
    padding-top: 1px;
}