.sidebar{
    position: flex;
    width: 12%;
    height:120%;
    background-color: black;
    }
    
.sidebar ul li{
        color: white;
        color:rgba(230, 230, 230, 0.9);
        border-bottom: 1px solid rgba(100,100,100,0.3);
}
    