.jumbotronText {
  /* color: white; */
  position: absolute;
  top: 73%;
  left: 50%;
}

.title {
  font-size: 70px;
}

.subtext {
  font-size: 20px;
  /* width: 800px; */
}

.jumbotronImage {
  width: 100vw;
  left: 0;
}
.jumbotronImage img {
  max-width: 100%;
  max-height: 100%;
}
