.App {
  text-align: center;
  /* font-family: 'Asul', sans-serif; */
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

.footerApp{

  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}