/* --tds-color--black: #000;
    --tds-color--grey10: #171a20;
    --tds-color--grey15: #222;
    --tds-color--grey20: #393c41;
    --tds-color--grey25: #444;
    --tds-color--grey30: #5c5e62;
    --tds-color--grey35: #757575;
    --tds-color--grey40: #a2a3a5;
    --tds-color--grey50: #d0d1d2;
    --tds-color--grey60: #eee;
    --tds-color--grey70: #f4f4f4;
    --tds-color--white: #fff;
    --tds-color--blue30: #3e6ae1;
    --tds-color--blue20: #3457b1;
    --tds-color--blue10: #2e4994;
    --tds-color--red: #ed4e3b; */